body, html {
    margin: 0;
    padding: 0;
    height: 100vh; /* Höhe des gesamten Viewports */
    width: 100vw;  /* Volle Breite */
    overflow: hidden; /* Verhindert Scrollen */
    display: flex;
    flex-direction: column;  /* Vertikale Anordnung */
}

p, h1, div{
    font-family: aller, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 5vh;
    margin: 0;
    color: white;
}

p#copyright {
    color: white;
    z-index: 1000;
    font-size: 1.5vh;
    margin: 0;
    padding: 1vh;
    font-family: 'Aller', sans-serif;
    font-style: normal;
    font-weight: 400;
}

@media (max-width: 768px) {
    p#copyright {
        font-size: 1.5vh;
    }
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: white underline;
}

@font-face {
    font-family: 'Aller';
    src: url('/assets/fonts/Aller/Aller_Rg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.header {
    display: flex;
    align-items: center;
    background-color: #00446b;
    color: white;
    padding: 1rem;
}

.logo-container {
    margin-right: 1rem;
}

.bm-logo {
    width: 50px;
    height: auto;
}

.header-title {
    font-size: 1.8rem;
}

#panorama-container {
    width: 100vw;
    height: 100vh;
    position: absolute;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    height: 75vh; /* Passt sich immer der Fensterhöhe an */
    flex: 1;
}

.viewer-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    position: relative;
}

.top-controls {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 99999 !important;  /* Extrem hoher Z-Index */
    opacity: 1 !important;
    visibility: visible !important;
}

:fullscreen .top-controls {
    display: flex !important;  /* Überschreibt alle möglichen Display-Regeln im Vollbildmodus */

}

.control-button {
    background-color: #00446b;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    z-index: 10000;  /* Höherer Z-Index, um sicherzustellen, dass sie über allem liegt */
}

.control-button:hover {
    background-color: #003450;
}
.control-button:disabled {
    background-color: #003450;
    cursor: not-allowed;
}

.control-button.toggled-off {
    background-color: #003450;  /* Hellgrauer Hintergrund */;             /* Graue Schrift */
    cursor: pointer;         /* Cursor bleibt pointer */
}

.bottom-tiles {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 1rem;
    background-color: #00446b;
}

.tile {
    position: relative;
    width: 150px;
    height: 100px;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
    background-color: white;
}

.tile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.8);
}

.tile-text {
    position: absolute;
    bottom: 5px;
    left: 10px;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

.footer {
    background-color: #003450;
    color: white;
    text-align: center;
    padding: 1.5rem 0;
    height: 10%;
    margin: 0;
}

.footer p {
    margin: 0;
}
